@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

body {
    background-color: #111827;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p, h1, span {
    font-family: 'Manrope', sans-serif;
}

h1, span {
    color: rgba(255, 255, 255, 1);
    font-weight: 800;
    margin: 0;
}

.count {
    font-size: 6rem;
}

.loading {
    font-size: 3rem;
}

.subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    margin-top: -16px;
    margin-bottom: 8px;
}

.date {
    color: rgba(255, 255, 255, 0.2);
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

button {
    background-color: #db2777;
    border: none;
    border-radius: 16px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    padding: 8px 16px;
    margin-top: 16px;
    cursor: pointer;
}